<!DOCTYPE html>
<!--/* (1) */-->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/app :: layout(~{::title},~{::body/content()})}">
<head>
    <!--/* (2) */-->
    <title>Create Staff Information</title>
</head>
<body>
<h2>Create Staff Information</h2>
<div id="sample">
    <dh-table th:v-bind:items="${@vc.toJson(users)}" th:v-bind:current="${current}" th:v-bind:total="${total}"></dh-table>
</div>
<!-- 各画面で同一ファイルとなるためブラウザーキャッシュが効く -->
<script src="/js/vendor.bundle.js" th:src="@{/js/vendor.bundle.js}"></script>
<!-- 各画面の .js がバンドルされた screen1.bundle.js -->
<script src="/js/service.bundle.js" th:src="@{/js/service.bundle.js}"></script>
</body>
</html>
