<!DOCTYPE html>
<!--/* (1) */-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title,body)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <link th:href="@{/css/primer.css}" rel="stylesheet" type="text/css" />
    <!--/* (2) */-->
    <title th:replace="${title}">Staff Management System</title>
</head>
<body>
<!--/* (3) */-->
<div id="header" th:replace="~{layout/header :: header}"></div>
<!--/* (4) */-->
<div class="Layout" style="min-height: 100vh;">
    <div class="Layout-main border">
        <div class="Layout-main-centered-md">
            <div id="body" th:replace="${body}"></div>
        </div>
    </div>
    <div class="Layout-sidebar border">side</div>
</div>
<!--/* (5) */-->
<div id="footer" th:replace="~{layout/footer :: footer}"></div>
</body>
</html>